.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

path#line-0 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

path#line-1 {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

path#line-2 {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}

/* .int_input {
  width: 80px
} */

.row_header {
  vertical-align: center;
  text-align: center;
  text-decoration: underline;
}
