{% extends 'base.html' %}

<!--
 = = = = Head
-->
{% block title %}
Spectrometer GUI
{% endblock %}
{% block head %}
<LINK href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


<!--
 = = = = Body
-->
{% block body %}
<div class="container">
  <button class="btn btn-primary" onclick="add_overlay()">Add Overlay</button>
  <button class="btn btn-primary" onclick="save_active()">Save Active</button>
  <button class="btn btn-primary" onclick="save_all()">Save Overlays</button>
  <button class="btn btn-primary" onclick="save_raw()">Save Raw</button>

  <div class="row m-0">
    <div class="card bg-light col-sm p-0" id="dev-list">
      <div class="row m-0">
        <div class="col my-auto">
          <div class="row_header">Devices</div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col my-auto text-center">
          <button class="btn btn-info" onclick="request_update_device_list()">Rescan</button>
          <span id="dev-serial-number"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
      <div class="card bg-light col-sm p-0" id="aquisition_settings">
          <div class="row m-0">
              <div class="col-7 my-auto" id="state">
                <div class="row m-0">
                  <div class="col-12">
                    <div class="row_header">State Params</div>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-3 p-0 my-auto">
                    TI
                  </div>
                  <div class="col-5 p-0 my-auto">
                    <input class="int_input w-100" id="it" type="text"/>
                  </div>
                  <div class="col-4 p-0 my-auto">
                    ms
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-3 p-0 my-auto">
                    Ave
                  </div>
                  <div class="col-5 p-0 my-auto">
                    <input class="int_input w-100" id="ave" type="text"/>
                  </div>
                </div>
                  <!-- <div class="" style="text-align:left;">IT: <input class="int_input" id="it" type="text"/>ms</div>
                  <div class="" style="text-align:left;">Ave: <input class="int_input" id="ave" type="text"/></div> -->
              </div>
              <div class="col-5 my-auto" id="buttons">
                <div class="row_header">Controls</div>
                <div class="row m-1">
                  <button id="play-button" class="btn btn-success w-100 text-center" onclick="play()" disabled>&#9654;</button>
                </div>
                <div class="row m-1">
                  <button id="pause-button" class="btn btn-success w-100 text-center" onclick="pause()" disabled>&#x23f8;</button>
                </div>
                <div class="row m-1">
                  <button id="single-button" class="btn btn-success w-100 text-center" onclick="single()" disabled>&#x23ef;</button>
                </div>
              </div>
          </div>
      </div>
      <div class="card bg-light col-sm p-0">
        <div class="row m-0">
          <div class="col-4" id="conf_type">
              <div class="row_header">Configuration</div>
          </div>
          <div class="col-4" id="x_type">
              <div class="row_header">X Scale</div>
          </div>
          <div class="col-4" id="y_type">
              <div class="row_header">Y Scale</div>
          </div>
        </div>
      </div>
  </div>

  <div id="svg-container"></div>
  <div id="current-trace" visibility="hidden"></div>
  <div id="overlay-tag-container"></div>

</div>
{% endblock %}

<!--
 = = = = Scripts
-->
{% block scripts %}
<script src="{{ url_for('static', filename='socketio/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='filesaver/FileSaver_old.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/onload.js') }}"></script>
{% endblock %}
